@import url("https://fonts.googleapis.com/css2?family=Kreon&family=Signika:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap");

.navbar {
  color: #eaeaea;
  font-family: "Kreon", serif;
}
.log-in-button {
  background: none;
  border: none;
  font-size: 2rem;
  margin-right: 30px;
  color: #eaeaea;
  font-family: "Kreon", serif;
}
header {
  display: flex;
  justify-content: center;
}
.header-content {
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.home-button {
  border: none;
  height: 5rem;
  color: #eaeaea;
  width: 8rem;
  font-size: 1.5rem;
  font-family: "Kreon", serif;
}
#button-on {
  background-color: #e32652;
}
.my-events-button {
  border: none;
  border-right: 2px solid white;
  color: #eaeaea;
  height: 5rem;
  width: 10rem;
  font-size: 1.5rem;
  font-family: "Kreon", serif;
}
.hi-user {
  background: none;
  border: none;
  color: #eaeaea;
  display: flex;
  margin-left: 10px;
  width: 10rem;
  font-size: 1.5rem;
  font-family: "Kreon", serif;
}
#button-off {
  background-color: #121212;
}
#options {
  width: 40%;
}
.user-view-container {
  width: 34%;
  display: flex;
  align-items: baseline;
}
.admin-view-container {
  display: flex;
  align-items: baseline;
}
.add-event-button {
  background: none;
  border: none;
  border: 2px solid #e32652;
  color: #eaeaea;
  height: 5rem;
  width: 10rem;
  font-size: 1.5rem;
  font-family: "Kreon", serif;
}
.navbar-toggler {
  background-color: #e32652;
  border: 2px solid #eaeaea;
}

@media (max-width: 320px) {
  .p-2 {
    width: 60%;
  }
  .user-view-container {
    width: 70%;
  }
  .home-button {
    height: 4rem;
    width: 7rem;
    font-size: 1.2rem;
  }
  .my-events-button {
    height: 4rem;
    width: 9rem;
    font-size: 1.2rem;
  }
  .hi-user {
    display: flex;
    margin-left: 10px;
    width: 10rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .p-2 {
    width: 60%;
  }
  .user-view-container {
    width: 80%;
  }
  .home-button {
    height: 4rem;
    width: 7rem;
    font-size: 1.4rem;
  }
  .my-events-button {
    height: 4rem;
    width: 9rem;
    font-size: 1.4rem;
  }
  .hi-user {
    display: flex;
    margin-left: 10px;
    width: 10rem;
    font-size: 1.4rem;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .p-2 {
    width: 50%;
  }
  .user-view-container {
    width: 90%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .p-2 {
    width: 30%;
  }
  .user-view-container {
    width: 70%;
  }
  .home-button {
    height: 5rem;
    width: 6rem;
    font-size: 1.5rem;
  }
  .my-events-button {
    height: 5rem;
    width: 8rem;
    font-size: 1.5rem;
  }
  .hi-user {
    display: flex;
    margin-left: 10px;
    width: 10rem;
    font-size: 1.5rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .p-2 {
    width: 20%;
  }
  .user-view-container {
    width: 50%;
  }
}